#style-switch {
    background: #fff;
    width: 212px;
    display: block;
    position: fixed;
    left: 0;
    top: 98px;
    z-index: 9995;
    border-radius: 0 0px 5px 0;
    font-size: 13px;
    border: 1px solid #dedede;
}

#style-switch .title-ss {
    background: #ffffff;
    line-height: 45px;
    height: 45px;
    border-bottom: 1px solid #dedede;
    text-align: center;
    font-size: 15px;
    color: #151515;
}

#style-switch .box-ss {
    line-height: 36px;
    height: 36px;
    text-align: center;
    color: #aaa;
}

#t-row-left-ss {
    background: #ffffff url("../images/switcher-icon.jpg") no-repeat center center;
    border-radius: 0 5px 5px 0;
    width: 45px;
    height: 45px;
    display: block;
    position: fixed;
    left: 212px;
    top: 98px;
    z-index: 9995;
    border-top: 1px solid #dedede;
}

#t-row-left-ss:hover {
    cursor: pointer;
}

.skin-colors {
    padding-left: 10px;
}

.skin-colors ul li {
    display: inline-block;
    margin: 0px 10px 10px 0;
}

.color-square {
    display: block;
    width: 20px;
    height: 20px;
}

@media only screen and (max-width: 767px) {

    #style-switch,
    #t-row-left-ss {
        display: none;
        visibility: hidden
    }
}